streamlit>=1.20
streamlit-chat
python-dotenv
SQLAlchemy>=1.4
alembic==1.11.1
requests
python-telegram-bot>=20.0
plotly
pandas
openai
pytesseract
Pillow
vosk
soundfile
python-dateutil
regex
gunicorn
uvicorn
